<h2 class="title-lg mb title-sm">
  Вопрос <%= link_to "##{question.id}", question_path(question), class: 'without-underline text-orange' %>
  <% if question.author.present? %>
    <span>
      от <%= link_to "#{fnickname(question.author.nickname)}", user_profile_path(question.author),
                     class: 'text-orange without-underline' %>
    </span>
    <span>
      для <%= link_to "#{fnickname(question.user.nickname)}", user_profile_path(question.author),
                     class: 'text-green without-underline' %>
    </span>
  <% end %>
</h2>

<div class="mb-lg text-orange">
  <%= simple_format h(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm mt-lg text-green">
    <%= simple_format h(question.answer) %>
  </div>
<% end %>

<div class="question-footer text-sm">
  <div class="text-gray mt">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user && current_user.present? %>
    <div class="mt">
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>

      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Изменить вопрос', class: 'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, class: 'mr-sm',
                    title: 'Удалить вопрос', form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>

      <% unless question.hidden %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :put, title: 'Скрыть' %>
      <% end %>
    </div>
  <% end %>
</div>