<div class="container">
  <div class="mb-lg">
    <%= link_to fa_icon('arrow-left'), :back, title: 'Назад' %>
  </div>

  <h2 class="title">
    Редактирование пользователя
  </h2>

  <div class="mt">
    <p>
      <%= image_tag @user.gravatar_url, title: "#{fnickname(@user.nickname)}", class: 'rounded' %>
    </p>

    <p class="text-sm mt-md mb-lg">
      Чтобы поменять аватар - зарегистрируйтесь на
      <%= link_to 'Gravatar', 'https://ru.gravatar.com/', class: 'without-underline title-sm text-orange' %>
    </p>
  </div>

  <%= render 'errors_output', obj: @user %>

  <div class="mt">
    <%= form_with model: @user, data: {turbo: false } do |form| %>
      <p>
        <%= form.label :name, 'Ваше имя' %>
      </p>
      <p>
        <%= form.text_field :name, class: 'form-text-field' %>
      </p>

      <p class="mt">
        <%= form.label :nickname, 'Ваш ник' %>
      </p>
      <p>
        <%= form.text_field :nickname, class: 'form-text-field' %>
      </p>

      <p class="mt">
        <%= form.label :header_color, 'Цвет шапки вашего профиля' %>
      </p>
      <p class="mt-sm">
        <%= form.color_field :header_color %>
      </p>

      <p class="mt-lg">
        Если не хотите менять пароль - оставьте эти поля пустыми
      </p>

      <p class="mt">
        <%= form.label :password, 'Новый пароль' %>
      </p>
      <p>
        <%= form.password_field :password, class: 'form-text-field' %>
      </p>

      <p class="mt">
        <%= form.label :password_confirmation, 'Подтверждение пароля' %>
      </p>
      <p>
        <%= form.password_field :password_confirmation, class: 'form-text-field' %>
      </p>

      <p class="mt-lg">
        <%= form.submit 'Сохранить', class: 'button button-main', method: :patch %>
      </p>
    <% end %>
  </div>
</div>
