<p style="color: green"><%= notice %></p>

<%= render @question_hashtag %>

<div>
  <%= link_to "Edit this question hashtag", edit_question_hashtag_path(@question_hashtag) %> |
  <%= link_to "Back to question hashtags", question_hashtags_path %>

  <%= button_to "Destroy this question hashtag", @question_hashtag, method: :delete %>
</div>
