<!DOCTYPE html>
<html>
<head>
  <title>Askme</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="wrapper">
  <%= tag.div class: "navbar", style: "background-color: #{header_color_checking(current_user)};" do %>
    <p class="title-sm text-bold">
      <%= link_to 'Ask me!', root_path, class: 'white-link' %>
    </p>
    <div>
      <% if current_user.present? %>
        <%= link_to fnickname(current_user.nickname), user_path(current_user.nickname), title: 'Профиль', class: 'mr-sm white-link' %>
        <%= link_to fa_icon('cog'), user_path(current_user.nickname), title: 'Настройки', class: 'white-link mr-sm' %>
        <%= button_to fa_icon('sign-out'), session_path, title: 'Выход', method: :delete,
                      class: 'white-link', form: {data: {turbo_confirm: 'Вы уверены, что хотите выйти?'}} %>
      <% else %>
        <%= link_to 'Регистрация', new_user_path, class: 'white-link mr-sm' %>
        <%= link_to fa_icon('sign-in'), new_session_path, title: 'Вход', class: 'white-link' %>
      <% end %>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <p class="mb mt message message-notice text-center">
      <%= flash[:notice] %>
    </p>
  <% elsif flash[:alert].present? %>
    <p class="mb mt message message-alert text-center">
      <%= flash[:alert] %>
    </p>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
